@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 15px;
    --ff-primary: 'Josefin Sans', sans-serif;
    --ff-secondary: 'Alata', sans-serif;

    /* colors */
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
    --Dark-Gray: hsl(0, 0%, 55%);
    --Very-Dark-Gray: hsl(0, 0%, 41%);
}

.container {
    width: 100%;
}

header {
    background-image: url(../images/desktop/image-hero.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100vh;
}

nav {
    width: 80%;
    margin: 0 auto;
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    vertical-align: bottom;
}

.nav--hamburger {
    display: none;
}

.nav--close {
    display: none;
}

.nav__list {
    margin-left: auto;
    display: inline-flex;
    flex-direction: row;
    list-style-type: none;
    padding-left: 1rem;
}

.hamburger__logo {
    display: none;
}

.nav__list li {
    margin-left: 2rem;
}

.nav__list li a{
    color: var(--White);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: var(--ff-primary);
}

.header__description {
    width: 50%;
    position: relative;
    left: 8.5rem;
    margin-top: 7rem;
    padding: 1rem;
    font-weight: 300;
    font-size: 4.5rem;
    color: var(--White);
    font-family: var(--ff-primary);
    text-transform: uppercase;
    border: 1px solid var(--White);
}

.about {
    width: 80%;
    margin: 0 auto;
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
}

.about__image picture img{
    margin-bottom: 3rem;
    width: 100%;
    height: auto;
}

.about__description {
    width: 60%;
    z-index: 3;
    position: relative;
    right: 8rem;
    top: 7rem;
    background-color: var(--White);
    padding-top: 3rem;
    padding-left: 3rem;
    text-align: start;
}

.about__description__header {
    text-transform: uppercase;
    font-size: 3rem;
    font-family: var(--ff-primary);
    font-weight: 300;
    margin-bottom: 1rem;
}

.about__description__text {
    font-family: var(--ff-secondary);
    color: var(--Dark-Gray);
    line-height: 2rem;
}

.creations {
    width: 80%;
    margin: 0 auto;
    margin-top: 3rem;
}

.creations__header {
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    font-family: var(--ff-primary);
    font-weight: 300;
    margin-bottom: 3rem;
}

.creations__header__desc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.creations--cta-one {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding: 1rem 2rem;
    text-transform: uppercase;
    font-weight: 900;
    font-family: var(--ff-primary);
    border: 1px solid var(--Black);
    color: var(--Black);
}


.cta-desktop {
    text-align: center;
    cursor: pointer;
}

.cta-desktop a:hover {
    color: var(--White);
    background-color: var(--Black);
    border: 1px solid var(--Black);
}

.creations__tabs {
    width: 100%;
    margin: 0 auto;
}

.creations__tabs {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    grid-gap: 1em;
}

.image-container picture img{
    width: 100%;
    margin: 0 auto;
    height: auto;
    cursor: pointer;
    height: 400px;
    object-fit: cover;
    object-position: 50% 50%;
}

.image-container:hover {
    opacity: 0.5;
}

.image-container__description {
    text-decoration: none;
    position: relative;
    bottom: 6rem;
    left: 2rem;
    font-size: 2rem;
    font-family: var(--ff-primary);
    font-weight: 300;
    color: var(--White);
}

.image-container a span {
    display: block;
}

.cta-mobile {
    display: none;
}

footer {
    margin-top: 3rem;
    padding: 1.5rem 10%;
    background-color: var(--Black);
    display: grid;
    row-gap: 1em;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: auto auto;
}

.footer__span {
    margin: 0 auto;
    text-align: center;
    grid-row-start: 1;
    grid-row-end: 2;
}

.footer__media {
    grid-column-start: 7;
    grid-column-end: 8;
}

.footer__nav {
    grid-column-start: 1;
    grid-column-end: 3;
}

.footer__nav ul {
    color: var(--White);
    list-style-type: none;
}

.footer__nav ul li {
    margin-bottom: 2rem;
}

.footer__nav ul li a{
    text-decoration: none;
    margin-right: 3rem;
    color: var(--White);
    font-family: var(--ff-primary);
    font-size: 1rem;
    font-weight: 900;
}

.footer__nav ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.footer__media ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-end;
}

.footer__media ul li{
    display: inline-block;
    margin-left: 2rem;    
}

.footer__copyright {
    text-align: end;
    grid-column-start: 7;
    grid-column-end: 8;
    color: var(--Dark-Gray);
    font-family: var(--ff-secondary);
}
